<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Login Form</h1>
        <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              ngModel
              email
              required
            />
            <label for="username">Email</label>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              ngModel
              required
              minlength="6"
            />
            <label for="password">Password</label>
          </div>

          <!-- buttons -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  [disabled]="!loginForm.valid"
                  class="btn btn-primary"
                  type="submit"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-secondary" (click)="loginForm.reset()">
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
